<main>
  <div class="main-work">
    <div class="wrapper">
      <h1><span>Take a look at</span> our work</h1>
      <p><i>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.
      </i></p>

      <div class="gallery">
        <div class="line1">
          <img src="/assets/img/galerry-img1.png" alt="galerry-img">
          <img src="/assets/img/galerry-img1.png" alt="galerry-img">
          <img src="/assets/img/galerry-img1.png" alt="galerry-img">
          <img src="/assets/img/galerry-img1.png" alt="galerry-img">
        </div>
        <div class="line2">
          <img src="/assets/img/galerry-img2.png" alt="galerry-img">
          <img src="/assets/img/galerry-img2.png" alt="galerry-img">
          <img src="/assets/img/galerry-img2.png" alt="galerry-img">
          <img src="/assets/img/galerry-img2.png" alt="galerry-img">
        </div>
        <div class="line3">
          <img src="/assets/img/galerry-img3.png" alt="galerry-img">
          <img src="/assets/img/galerry-img3.png" alt="galerry-img">
          <img src="/assets/img/galerry-img3.png" alt="galerry-img">
          <img src="/assets/img/galerry-img3.png" alt="galerry-img">
        </div>

      </div>
    </div>
  </div>
</main>
