<main>
  <div class="wrapper">
    <div class="main-about">
      <div class="about-left">
        <img src="assets/img/computer-img.png" class="mw-100" alt="mac">
      </div>
      <div class="about-right">
        <h1>Some words <span class="about-us">about us</span></h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus .
        </p>
        <ul>
          <li><span>Mission</span> - We deliver uniqueness and quality</li>
          <li><span>Skills</span> - Delivering fast and excellent results</li>
          <li><span>Clients</span> - Satisfied clients thanks to our experience</li>
        </ul>
      </div>
    </div>
  </div>
</main>


