<main>
  <section class="contact-form">
    <div class="contact-wrapper">
      <h1>Contact US</h1>
      <p><i>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </i></p>
      <form action="#" name="newform" method="post">
        <div class="form-inputs">
          <p>Name <span class="red">*</span><input type="text"></p>
          <p>Email adress <span class="red">*</span> <input type="text"></p>
        </div>
        <p>Messege <span class="red">*</span></p>
        <textarea name="text"></textarea>
        <div class="button-block">
          <input type="submit" value="Send">
        </div>
      </form>
    </div>
  </section>
</main>
