<main>
  <div class="main-team">
    <div class="wrapper">
      <h1>OUR TEAM</h1>
      <div class="team-cards">
        <div class="card">
          <div class="photo"></div>
          <h4 class="name">Vlad Ivanov</h4>
          <p class="position">Designer</p>
          <p class="about-position">
            Do not seek to change what has come before. Seek to create that
          </p>
        </div>
        <div class="card">
          <div class="photo"></div>
          <h4 class="name">Vlad Ivanov</h4>
          <p class="position">Designer</p>
          <p class="about-position">
            Do not seek to change what has come before. Seek to create that
          </p>
        </div>
        <div class="card">
          <div class="photo"></div>
          <h4 class="name">Vlad Ivanov</h4>
          <p class="position">Designer</p>
          <p class="about-position">
            Do not seek to change what has come before. Seek to create that
          </p>
        </div>
        <div class="card">
          <div class="photo"></div>
          <h4 class="name">Vlad Ivanov</h4>
          <p class="position">Designer</p>
          <p class="about-position">
            Do not seek to change what has come before. Seek to create that
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
