<main>
  <div class="main-services">
    <div class="wrapper">
      <h1>OUR SERVICES</h1>
      <p><i>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.
      </i></p>

      <div class="services-cards">
        <div class="services-card">
          <img src="/assets/img/webdesign.png" alt="mobileapps">
          <h4>Web Disign</h4>
          <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. </p>
        </div>
        <div class="services-card">
          <img src="/assets/img/mobilapps.png" alt="mobileapps">
          <h4>Mobile Apps</h4>
          <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. </p>
        </div>
        <div class="services-card">
          <img src="/assets/img/photography.png" alt="mobileapps">
          <h4>Photography</h4>
          <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. </p>
        </div>
        <div class="services-card">
          <img src="/assets/img/marketing.png" alt="mobileapps">
          <h4>Marketing</h4>
          <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. </p>
        </div>

      </div>
    </div>
  </div>
</main>

